TOKEN=.......:...........-......_....  # telegram bot token
WISE_TOKEN=.......-........-........-....... # wise token from https://wise.com/settings/
PROFILE_ID=.......... # wise profile id
USERS_ID=[......, .......] # use one or more telegram user_id separated by commas